In [2]:
import pandas as pd
from numpy import log

In [3]:
with open("books.txt", "r") as file:
    books = file.readlines()

In [4]:
unique_books = []
for line in books:
    other_book = books.index(line) + 1
    if line == books[other_book]:
        unique_books.append(line.strip())
unique_books = unique_books[0::2]

In [5]:
page_numbers = []
for line in books:
    if line.endswith("pp\n"):
        page_numbers.append(int(line.replace("pp","").strip()))

In [6]:
number_of_ratings = []
for line in books:
    if line.replace(",","").strip().isdigit():
        number_of_ratings.append(int(line.replace(",", "")))

In [7]:
average_rating = []
for line in books:
    if len(line) > 2 and line[1] == ".":
        average_rating.append(float(line.strip()))

In [8]:
len(average_rating)

55

In [9]:
len(unique_books)

55

In [10]:
len(page_numbers)

55

In [11]:
len(number_of_ratings)

55

In [12]:
with open("clean_books.csv", "w+") as clean_books:
    for i in range(0, len(unique_books)):
        clean_books.write(f"{unique_books[i]}\t{page_numbers[i]}\t{average_rating[i]}\t{number_of_ratings[i]}\n")

In [13]:
names=["book", "pages", "avg_review", "num_review"]

In [14]:
books = pd.read_csv("clean_books.csv", sep="\t" , names=names)

In [15]:
books["score"] = round((books["avg_review"] * log(books["num_review"])) / log(books["pages"]), 3)

In [16]:
books.head(50).sort_values("score", ascending=False).head(5)

,book,pages,avg_review,num_review,score
0,The Hitchhiker's Guide to the Galaxy (Hitchhik...,193,4.22,1604337,11.457
2,The Name of the Wind (The Kingkiller Chronicle...,662,4.51,812363,9.449
3,On Writing: A Memoir of the Craft,320,4.31,252284,9.294
1,Steve Jobs,627,4.15,1090044,8.957
6,Factfulness: Ten Reasons We're Wrong About the...,342,4.33,149722,8.843